div.container {
  background-color: rgb(0, 0, 0);
  h1 {
    color: aliceblue;
    text-align: center;
    padding: 1rem;
  }
  div.nav-tabs {
    button {
      font-size: 30px;
      color: aliceblue;
    }
    button.nav-link.active {
      background-color: rgb(255, 255, 255);
      color: black;
    }
  }
  div.tab-content {
    h3 {
      color: aliceblue;
    }
    img {
      &:hover {
        scale: 0.9;
      }
      padding: 1rem;
      height: 300px;
    }
  }
}
