nav {
  height: 80px;
}
.navbar {
  background-color: rgb(252, 252, 252);
  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: 0 10px 6px -6px rgb(255, 249, 167);
}
li {
  a {
    color: rgb(27, 19, 22) !important;
    font-size: 20px;
    &:hover {
      color: rgb(255, 0, 89) !important;
      background-color: rgb(255, 255, 158);
    }
  }
}
.navbar-toggler {
  background-color: lightgray;
}
.nav-link {
  padding: 20px;
}
@media (max-width: 600px) {
  nav {
    height: auto;
  }
  .nav-link {
    padding: 10px;
  }
}
