* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  overflow-y: scroll;
}

.content {
  height: 800px;
}

footer {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 15px;
  height: 70px;
  bottom: 0px;
}
footer p {
  font-size: 25px;
}

.sidenav {
  padding-top: 30px;
  background-color: rgb(174, 174, 174);
}
.sidenav h4 {
  text-align: center;
  color: indigo;
  padding: 20px;
}
.sidenav a {
  text-align: left;
  text-decoration: none;
  color: indigo;
  font-size: 22px;
  padding: 20px;
}
.sidenav a:hover {
  color: yellow;
}

.page {
  background-color: rgb(222, 222, 222);
  width: 100%;
  padding: 8px;
}
.page:hover {
  background-color: indigo;
  transition: 1s;
}

.main-content {
  background-color: white;
  padding: 20px;
}
.main-content h1 {
  text-align: center;
  padding: 20px;
}

.ad {
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(97, 97, 97);
  border-radius: 10px;
}

@media (max-width: 600px) {
  .sidenav {
    height: auto;
  }
  .content {
    height: auto;
  }
  .page {
    margin-bottom: 10px;
  }
}
@media (max-width: 1386px) {
  footer {
    background-color: black;
    color: white;
  }
}
div.carousel-inner {
  max-width: 100%;
}
div.carousel-inner img {
  width: 100%;
  height: 70vh;
}
div.carousel-inner div.carousel-caption h2 {
  color: rgb(255, 255, 255);
}

div.container {
  background-color: rgb(0, 0, 0);
}
div.container h1 {
  color: aliceblue;
  text-align: center;
  padding: 1rem;
}
div.container div.nav-tabs button {
  font-size: 30px;
  color: aliceblue;
}
div.container div.nav-tabs button.nav-link.active {
  background-color: rgb(255, 255, 255);
  color: black;
}
div.container div.tab-content h3 {
  color: aliceblue;
}
div.container div.tab-content img {
  padding: 1rem;
  height: 300px;
}
div.container div.tab-content img:hover {
  scale: 0.9;
}

div.introduces {
  margin-top: 100px;
  max-width: 100%;
}
div.introduces div.flex {
  display: flex;
  flex-wrap: wrap;
}
div.introduces div.flex div.introduce {
  height: 550px;
  max-width: 300px;
}
div.introduces div.flex div.introduce img {
  width: 100%;
  height: 400px;
}
div.introduces div.flex div.introduce p {
  color: white;
  margin: 1rem;
  font-size: 20px;
}

div.environment {
  margin-top: 5rem;
  height: 600px;
  width: 100%;
}
div.environment img {
  height: 80%;
  width: 100%;
}
div.environment p {
  margin: 2rem;
  color: white;
  text-align: center;
  font-size: 30px;
}

div.chef {
  margin-top: 100px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
div.chef div.chefImg {
  max-height: 750px;
  color: rgb(0, 0, 0);
}
div.chef div.chefImg img {
  width: 100%;
  height: 100%;
}
div.chef div.chefIntroduce {
  width: 600px;
  height: 750px;
  display: flex;
}
div.chef div.chefIntroduce p {
  display: flex;
  align-items: center;
  padding: 5rem;
  margin-top: 1rem;
  font-size: 20px;
  line-height: 50px;
  color: white;
}

.animate__animated {
  --animate-duration: 2s;
}/*# sourceMappingURL=style.css.map */